@use '../../styles/globals.module.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
}

.selector {
  border-radius: 0.4rem;
  border: 1px solid #c2c2c2;
  background-color: #f2f2f2;
  font-size: 1rem;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  input {
    font-size: globals.$font-size-m;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #6c6c6c;
    &:focus {
      outline: none;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  button {
    background-color: transparent;
    border: 1px solid globals.$grey;
    border-radius: 0.4rem;
    height: fit-content;
    width: fit-content;
    margin: 0 0.5rem;
    padding: 0.4rem 0.6rem;
    font-size: globals.$font-size-m;
    color: #6c6c6c;
    cursor: pointer;
    white-space: nowrap;
  }
}
