@use "../../../styles/globals.module.scss";

.container {
  display: flex;
  position: relative;
}

.wrapper {
  display: flex;
  position: absolute;
  width: 20rem;
  right: 0;
  justify-content: flex-end;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.wrapperFocused {
  background-color: globals.$white;
}

.input {
  background-color: transparent;
  border: none;
  padding: 0.75rem 0.8rem 0.75rem 0.8rem;
  font-size: 1rem;
  color: globals.$secondary;
  &::placeholder {
    color: globals.$secondary;
  }
  &:focus {
    outline: none;
  }
}

.button {
  background-color: transparent;
  border: none;
  padding: 0.7rem 1rem;
  transform: translateY(2px);
  cursor: pointer;
  justify-self: flex-end;
}
