@use '../../styles/globals.module.scss';

.brand {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  transform: translateY(-2px);
  cursor: pointer;
  text-decoration: none;
  color: globals.$secondary;
  width: fit-content;
  height: fit-content;
  h1 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
