@use '../../styles/globals.module.scss';

.list {
  display: flex;
  gap: 1rem;
  li {
    list-style: none;
  }
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.item {
  display: flex;
  gap: 0.7rem;
  align-items: start;
  cursor: pointer !important;
  background-color: globals.$white;
  border: none;
}

.radio {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  border: 1px solid globals.$border-color-dark;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedRadio {
  width: 0.7rem;
  height: 0.7rem;
  background-color: globals.$border-color-dark;
  display: block;
  border-radius: 50%;
}

.labelDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 1.2rem;
  text-align: left;
}

.description {
  font-size: 1rem;
  color: globals.$text-description-color;
  text-align: left;
}
