@use '../../../styles/globals.module.scss';

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }

  li {
    list-style: none;
    button {
      cursor: pointer;
      font-size: globals.$font-size-l;
      background-color: transparent;
      border: none;
      padding: 0.4rem 0.6rem;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
