@use '../../styles/globals.module.scss';

.button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.primary {
  background-color: globals.$secondary;
  color: globals.$primary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.secondary {
  background-color: globals.$primary;
  color: globals.$secondary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.ghost {
  background-color: globals.$white;
  color: globals.$secondary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.transparent {
  background-color: transparent;
  color: globals.$secondary;
  border: none;
  &:hover {
    background-color: globals.$hover-button-background-color;
  }
}

.disabled {
  color: color-mix(in srgb, currentColor 50%, transparent);
  background-color: #edbe28;
}