@use '../../../styles/globals.module.scss';

.walletList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.walletListItem {
  list-style: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.label {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  align-self: end;
}

.statement {
  font-size: 0.8rem;
  text-align: start;
}

.tag {
  background-color: globals.$secondary;
  color: globals.$primary;
  padding: 0.2em; 
  border-radius: 0.3em;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
}