@use '../../styles/globals.module.scss';

.container {
  display: flex;
  gap: 1rem;
}

.countStatement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.count {
  font-size: 1.3rem;
}

.statement {
  font-size: 0.85rem;
  color: globals.$secondary;
}

.positive,
.negative {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.4rem;
  svg {
    font-size: 1.5rem;
  }
}

.positive {
  border-color: rgba(globals.$feedback-positive, 0.55);
  background-color: rgba(globals.$feedback-positive, 0.1);
  color: globals.$feedback-positive;
}

.negative {
  border-color: rgba(globals.$feedback-negative, 0.55);
  background-color: rgba(globals.$feedback-negative, 0.1);
  color: globals.$feedback-negative;
}
