$primary: #ffcd2b;
$secondary: #000;
$white: #fff;
$input-border-color: #c0c0c0;
$grey-background: #dadada;

$navbigation-bar-height: calc(4rem + 1px);
$footer-height: calc(23rem + 1px);
$main-content-height: calc(100vh - $navbigation-bar-height - $footer-height);

$box-shadow-default-color: rgba(0, 0, 0, 0.3);
$hover-button-background-color: rgba(0, 0, 0, 0.07);
$semi-transparent-background: rgba(0, 0, 0, 0.2);
