.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
