@use '../../styles/globals.module.scss';

.wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  padding: 1.5em 2em 1.5em 1.5em;
  border-radius: 1em;
  font-size: 1rem;
  box-shadow: 0 3px 4px 1px globals.$box-shadow-default-color;
  position: relative;
  border: 1px solid;
  overflow: hidden;
  box-sizing: content-box;
}

.closeBtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-color: transparent;
  transform: rotate(45deg);
  border: none;
  font-family: 2rem;
  cursor: pointer;
}

.countdownProgressBar {
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
}

.content {
}

.error {
  background-color: rgb(255, 109, 109);
  border-color: rgb(197, 84, 84);
  .closeBtn,
  .content {
    color: rgb(70, 30, 30);
  }
  .countdownProgressBar {
    background-color: rgb(197, 84, 84);
  }
}

.success {
  background-color: rgb(50, 181, 50);
  border-color: rgb(24, 90, 24);
  .closeBtn,
  .content {
    color: rgb(8, 28, 8);
  }
  .countdownProgressBar {
    background-color: rgb(24, 90, 24);
  }
}

.info {
  background-color: rgb(135, 149, 255);
  border-color: rgb(78, 85, 141);
  .closeBtn,
  .content {
    color: rgb(15, 17, 29);
  }
  .countdownProgressBar {
    background-color: rgb(78, 85, 141);
  }
}

.warning {
  background-color: rgb(255, 193, 78);
  border-color: rgb(178, 133, 51);
  .closeBtn,
  .content {
    color: rgb(54, 41, 16);
  }
  .countdownProgressBar {
    background-color: rgb(178, 133, 51);
  }
}
