@use '../../../../styles/globals.module.scss';

.header {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border-bottom: 1px solid globals.$secondary;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.columnButton {
  background-color: transparent;
  border: none;
  font-size: globals.$font-size-m;
  font-weight: 600;
}
