@use '../../../styles/globals.module.scss';

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: globals.$semi-transparent-background;
  z-index: 9;
}

.container {
  background-color: globals.$primary;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0px 0px 6px 0px globals.$box-shadow-default-color;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 10;
}

.heading {
  position: relative;
  font-size: 1.1rem;
  margin-left: 10px;
  font-weight: 500;
  &::before {
    position: absolute;
    transform: translate(-10px, 2px);
    content: '';
    width: 2px;
    height: 18px;
    display: block;
    background-color: globals.$secondary;
  }
}
