@use '../../../styles/globals.module.scss';

.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  border: 1px solid globals.$secondary;
  width: 100%;
  background-color: globals.$white;
}
